<div style="color:black; font-family:calibri;  font-size:300%;"><%=image_tag "logo.png",:size=>"200x200"%><b> Arquidiocesis de Cochabamba</b></div><br>
<div style="color:black; font-family:calibri;  font-size:250%;">
Bienvenido a la pagina "SinNombre" del arzobispado de cochabamba, nuestro objetivo es interactuar con usted y mantenerlo informado sobre los eventos que serailian dia a dia.
</div >

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title" style= "font-size:300%;">Mision</h2>
  </div>
  <div class="panel-body" style='background-image:url(/assets/bg-clouds.jpg); background-size: 100%;'>
  	<h3 style="color:black; font-family:calibri;  font-size:250%;">
    La Comision de Comunicaion del Arzobispado de Cochabamba, es un ente de fe y servicio en Crito; que dinamiza, gestiona y administra la informacion y la comunicaion de la Diocesis de Cochabamba, promoviendo los valores del Reino de Dios.
    </h3>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" style= "font-size:300%;">Vision</h3>
  </div>
  <div class="panel-body" style='background-image:url(/assets/bg-clouds.jpg); background-size: 100%;'>
  	<h3 style="color:black; font-family:calibri;  font-size:250%;">
    La comision de Comunicion del Arzobispado de Cochabamba quere ser voz de la Iglesia, fermento de esperanza, sembradora de valores evagelicos y humanos, de justicia, paz, dialogo y fraternidad haciendo que la comunidad sea portadora del bien comun.
    </h3>
  </div>
</div>

