
  <div id='calendar' style="background-color:yellow;"></div>
<script>

$(document).ready(function() {
    
    $('#calendar').fullCalendar({
      defaultDate: 'today',
      events: '/eventos.json'
    });
    
  });


</script>
