
<font color="white"><h2>Editar evento</h2></font>

<%= render 'form' %>

<%= link_to 'Mostrar', @evento ,:style=>'color:#ffffff;'%> |
<%= link_to 'Atras', evento_path ,:style=>'color:#ffffff;'%>
