
<ul class="nav nav-tabs" style="margin-bottom: 15px;">
  <li class="active"><a href="#list" data-toggle="tab">Lista</a></li>
  <li class=""><a href="#cview" data-toggle="tab">Calendario</a></li>
  
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="list">
    <%= render 'list' %>
  </div>
  <div class="tab-pane fade" id="cview">
       <div id='calendar' style="background-color:yellow;"></div>
  </div>
  
</div>

<% if current_user != nil && current_user.rol == "admin"%>
  <h3>
    <%= link_to 'Nuevo Evento', new_evento_path,:style=>'color:#ffffff;' %>
  </h3>  
<% end %>  

 <script>

$(document).ready(function() {


    $('#calendar').fullCalendar({
      events: '/eventos.json'
    });
$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  var target = $(e.target).attr("href");
  if ((target == '#cview')) {
   $('#calendar').fullCalendar('render');
  }
  });

});
    
  

</script>