
  <div id='calendar' style="background-color:yellow;"></div>
<script>

$(document).ready(function() {
    
    $('#calendar').fullCalendar({
      
      events: '/events.json'
    });
    
  });


</script>
