<p>
  <%= f.label :content, "Answer" %>
  <%= f.text_field :content %>
  <%= f.hidden_field :_destroy %> 
  <input type="button" onClick="remove_fields(this)" value="Eliminar"/>
</p>
 
<SCRIPT type="text/javascript"> 

	function remove_fields(link) {
		try{
			var sd = $(link).prev("input[type=hidden]").first().val();
			if (sd == '1') {
				$(link).prev("input[type=hidden]").first().val("0");
				$(link).parent().find('input[type=text]').show('slow');
		
				$(link).parent().find('input[type=button]').val('Eliminar');
		
			} else {
				$(link).prev("input[type=hidden]").first().val("1");
				$(link).parent().find('input[type=text]').toggle('slow');

				$(link).parent().find('input[type=button]').val('Mostrar');
			}

		}catch(err){
			alert(err.message)
		}
		return false;
    }
</SCRIPT>







