<h1>Editing post</h1>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_index_path(@post.evento.id) %>
<br>
<%= link_to 'Añadir archivo', new_post_attatchment_id_path(@post.id) %>
