	<div class='page-header'><h1 align='center'>Opciones</h1></div>		
		<div class="list-group">
		  <a href="/posts/index/<%=@evento.id%>" class="list-group-item">
		    Todos los posts
		  </a>
		  <%if(current_user!=nil && current_user.rol=='admin')%>
		  		<a href="/posts/new/<%=@evento.id%>" class="list-group-item">Crear post
		  		</a>
		  		<a href="#" class="list-group-item">Ver post
		  		</a>
		  <%end%>
		</div>