	<div class='page-header'><h1 align='center'>Opciones</h1></div>		
		<div class="list-group">
		  <a href="#" class="list-group-item active">
		    Crear Evento
		  </a>
		  <a href="#" class="list-group-item">Comentarios denunciados
		  </a>
		  <a href="#" class="list-group-item">Ver Eventos
		  </a>
		  <a href="#" class="list-group-item">Realizar Nuevo cuestionario
		  </a>
		  <a href="#" class="list-group-item">Ver Cuestionario
		  </a>
		</div>